h1 {
  font-size: 1.5em;
}

.head {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: blue;
}

.navbar-dark {
  background-color: #121314;
}
@media (max-width: 572px) {
  body {
    font-size: 13;
  }
  .jumbotron {
    margin-top: 0.3em;
  }
  h5 {
    font-size: 1.2em;
  }
}
