h1 {
  font-size: 150%;
}

.head {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: blue;
}

.navbar-dark {
  background-color: #121314;
}
@media (max-width: 572px) {
  body {
    font-size: 13px;
  }
  .jumbotron {
    margin-top: 30px;
  }
  h5 {
    font-size: 120%;
  }
}
