h1 {
  font-size: 1.5em;
}

.head {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: blue;
}
#imgG {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 11px 17px 41px -6px rgba(0, 0, 0, 1);
}

.navbar-dark {
  background-color: #121314;
}
@media (max-width: 572px) {
  #imgG {
    display: none;
  }
  body {
    font-size: 13;
  }
  .jumbotron {
    margin-top: 1.7em;
  }
  h5 {
    font-size: 1.2em;
  }
  #Area {
    display: flex;
    flex-direction: column;
  }
  #Area > .btn {
    margin-top: 0.5em;
  }
}
.growAnime:hover {
  animation: Grow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
@keyframes Grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#Area > .btn {
  margin-right: 0.5em;
  margin-top: 0.7em;
}
.jumbotron {
  padding-bottom: 0.5em;
}
#SkillTable > tbody > tr > td {
  font-weight: 200;
}
#courseWork > div > div > div > dl > dt {
  font-weight: 500;
}
#courseWork > div > div > div > dl > dd {
  font-weight: 200;
}
#headContent {
  font-weight: 200;
}
#projects {
  font-weight: 200;
}
